.header{	
	/* border: 2px solid black; */
    color: navy;
    padding: 15px;
    margin-left: 5%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;          /* vertically center items */
    justify-content: left;        /* title after the logo */
    gap: 40px;                   /* spacing between logo and title */
    height: 80px;
    width: 100%;
}

h1{
    background-image: radial-gradient(black,blueviolet,goldenrod, pink,darkslateblue,lawngreen,orange);
    -webkit-background-clip: text;
    font-size: xx-large;
    font-weight: bold;
    color: transparent;
    text-align: center;
    font-family: "Lucida Calligraphy"

}

ul{
	list-style-type: none;
	display: flex;
    margin-left: 5%;
    font-size: large;
    font-weight: bold;
    padding: 0;
    overflow: hidden;
    background-color: white;
    align-items: center;          /* vertically center items */
    justify-content: left;        /* title after the logo */
    gap: 40px;   
                /* spacing between logo and title */
}

ul li a{
	display: block;
    color: blue;
    background-color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover{
    background-color: lightgray;
    color: black;
    font-weight: bold;
}
