.header{
	
	border: 2px solid black;
    color: navy;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    display: flex;
     align-items: center;          /* vertically center items */
    justify-content: left;        /* title after the logo */
    gap: 20px;                    /* spacing between logo and title */

    height: 80px;
    width: 100%;
}