.header{	
	/* border: 2px solid black; */
    color: navy;
    padding: 15px;
    margin-left: 5%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;          /* vertically center items */
    justify-content: left;        /* title after the logo */
    gap: 40px;                   /* spacing between logo and title */
    height: 80px;
    width: 100%;
}

h1{
    background-image: radial-gradient(black,blueviolet,goldenrod, pink,darkslateblue,lawngreen,orange);
    -webkit-background-clip: text;
    font-size: xx-large;
    font-weight: bold;
    color: transparent;
    text-align: center;
    font-family: "Lucida Calligraphy"

}