<!DOCTYPE html>
<!-- Thymeleaf for html templates -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}">

<script th:src="@{/webjars/jquery/3.7.1/dist/jquery.min.js}"></script>

<script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
 <header th:replace="fragments/header :: header">
 
 </header>
 <section class="container my-5">

    <div class="row justify-content-end">
        <div class="col-12 col-md-6 col-lg-4">

            <div class="card shadow-sm">
                <div class="card-header text-center fw-bold">
                    Patient Registration Form
                </div>

                <div class="card-body">
                    <form th:object="${patient}" th:action="@{/savePatient}" method="post">

                        <div class="mb-3">
                           
                            <input type="text" th:field="*{fullName.firstName}" class="form-control" placeholder="First Name">
                        </div>

                        <div class="mb-3">
                          
                            <input type="text" th:field="*{fullName.lastName}" class="form-control" placeholder="Last Name">
                        </div>

                        <div class="mb-3">
                            
                            <input type="email" th:field="*{email}" class="form-control" placeholder="Email">
                        </div>

                        <div class="mb-3">
                           
                            <input type="number" th:field="*{contactNumber}" class="form-control" placeholder="Contact No">
                        </div>

                        <div class="mb-3">
                           
                           <select th:field="*{gender}" class="form-control">
							    <option value="">Select Gender</option>
							    <option value="MALE">Male</option>
							    <option value="FEMALE">Female</option>
							    <option value="OTHER">Female</option>
							</select>       
						</div>

                        <div class="mb-3">
                           
                            <input type="date" th:field="*{dateOfBirth}" class="form-control">
                        </div>

                        <div class="mb-3">
                           
                            <input type="text" th:field="*{ailment}" class="form-control" placeholder="Ailment">
                        </div>

                        <div class="mb-3">
                            
                            <input type="text" th:field="*{occupation}" class="form-control" placeholder="Occupation">
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </div>

</section>
 <footer th:replace="fragments/footer :: footer">
 </footer>
</html>