<!DOCTYPE html>
<!-- Thymeleaf for html templates -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}">

</script>
<link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
 <header th:replace="fragments/header :: header">
 
 </header>
 <section>
 <form class="container" style="margin-top: 20px; width: 30%; float: right;">
 <fieldset>
 <legend>Patient Registration Form</legend>
 <input type="text" class="form-control" style="width: 100%;" placeholder=" First Name"/><br/>
 <input type="text" class="form-control" style="width: 100%;" placeholder=" Last Name"/><br/>
 <input type="email" class="form-control" style="width: 100%;" placeholder=" Email"/><br/>
 <input type="number" class="form-control" style="width: 100%;" placeholder="ContactNo"/><br/>
 <input type="text" class="form-control" style="width: 100%;" placeholder="Gender"/><br/>
 <input type="date" class="form-control" style="width: 100%;" placeholder="Date of Birth"/><br/>
 <input type="text" class="form-control" style="width: 100%;" placeholder="Ailment"/><br/>
 <input type="text" class="form-control" style="width: 100%;" placeholder="Occupation"/><br/>
 
 </fieldset>
 </form>
 
 </section>
 <footer th:replace="fragments/footer :: footer">
 </footer>
</html>