<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <body>
    <header th:fragment="header">
      
        <div class="header">
          <img th:src="@{/images/logo.jpeg}" alt="Hospital Logo" width="200" height="200"/>
          <h1>Hospital Management</h1>
          <img th:src="@{/images/banner.jpeg}" alt="Hospital Image" width="400" height="150"/>
        </div>
        <div class="nav-bar">
            <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/showPatients}">View Patients</a></li>
            <li><a th:href="@{/patientStatus}">Patient Status</a></li>
            </ul>
                    
        </div>  
     
    </header>
  </body>
</html>